li{
    float: right;
    list-style-type: none;
}
main{
    padding: 10px 10px 10px 10px ;
}
a{

    /* text-decoration: none; */
    margin: 10px 50px 10px 10px;
}
#hadder{
    overflow: hidden;
}
#logo{
    margin-left: 20px;
}
#cont{
    padding-left: 20px;
    padding: 20px 0px 20px 20px;
    /* border: 1px solid black; */
    background-color: rgb(228, 225, 225);
  
    
}
#cont p{
    padding-right: 70%;
    /* padding-left: 3%; */
}
#btn{
    padding: 5px 5px 5px 5px;
}
#cont2{
    display: flex;
    padding-top: 10%;
}
.one{
    text-align: center;
    padding: 5px 10px 5px 10px ;
    max-width: 33%;
     /* border: 1px solid black; */
    
}
.one a{
    color: black;
}
 #sub h2{
    
    font-size: 20px;

    margin-right: 5px;
    /* margin-left: 330px; */
}

#inpt{
    padding: 10px 10px 10px 10px;
    margin-right: 0px;


}
#buttn{
    margin-left: 0px;
    padding: 10px 200px 10px 50px;
    background-color: rgb(144, 144, 247);
    margin-top: 10px;

}
#fotr{
    /* padding-left: 380px;
     */
     padding-left: 20rem;
    margin-top: 50px;
    overflow: hidden;
   
    /* display: flex; */
    /* justify-content: space-evenly; */
    
    align-items: center;
    /* border: 1px solid blue; */
    /* margin-top: 50px;
    display: flex;
    border: 1px solid blue;
    justify-content: space-evenly;
    align-items: center; */
}
.two{
    float: left;
    align-items: center;
    /* max-width: 30%; */

} 
input[type="text" i] {
    padding: 10px ;
}

#botm{
    display: flex;
    justify-content: space-between;
}
