li{
    float: right;
    list-style-type: none;
}
main{
    padding: 10px 10px 10px 10px ;
}
a{

    /* text-decoration: none; */
    margin: 10px 50px 10px 10px;
}
#hadder{
    overflow: hidden;
}
#logo{
    margin-left: 20px;
}
#cont{
    padding-left: 20px;
    padding: 20px 0px 20px 20px;
    /* border: 1px solid black; */
    background-color: rgb(228, 225, 225);
  
    
}
#cont p{
    padding-right: 70%;
    /* padding-left: 3%; */
}
#btn{
    padding: 5px 5px 5px 5px;
}
#cont2{

    display: flex;

     overflow: hidden;
     
     margin-left: 20px;
     
     
    padding-top: 10%;
    margin-bottom: 80px;
    
}
@media only screen and (max-width: 768px) {
    #cont2{

        display: grid;
    
         overflow: hidden;
         
         margin-left: 20px;
         
         
        padding-top: 10%;
        margin-bottom: 80px;
        
    }
  }
.one{

    text-align: center;
    min-width: 20%;
    
   
    
    padding: 5px 10px 5px 10px ;
   

    margin-right: 2px;
    background-color: rgb(228, 225, 225);;

     /* border: 1px solid black; */
    
}
.one a{
    color: black;
}
 #sub h2{

    font-size: 20px;
    

    /* margin-right: 19px; */
    
}

#inpt{
    padding: 15px 10px 13px 10p;
    margin-right: 10px;
    margin-top: 5px;
    


}
#buttn{
    margin-left: 0px;
    padding: 10px 200px 10px 20px;
    background-color: rgb(144, 144, 247);
    margin-top: 10px;

}
#fotr{
   
    /* width: 65%;
    margin-top: 50px;
    margin-left: 0px;
    overflow: hidden;
    display: block;
    margin: 0 auto; 
    background-color: rgb(245, 245, 245);
    padding: 5px 170px 1px 170px; */
   

    overflow: hidden;
    display: block;
    margin-left: 20px;
    
   padding-top: 10%;
   margin-bottom: 80px;
    
    
}
.two{
      /* max-width: 20%;
    float: left;
    align-items: center;
    margin: 0px 0px 0px 0px; */
   
    text-align: center;
    float: left; 
    
    padding: 5px 10px 5px 0px ;
    max-width: 30%;
    margin-right: 0px 
      


} 
input[type="text" i] {
    padding: 10px ;
}

#botm{
     display: flex;
    justify-content: space-between; 
} 
#sub{
   padding: 0px 10px 0px 20px;
   /* min-width: 80px; */
   margin-left: 15rem;
}
